.comboBox {
    border: 1px solid #5e93ab;
    background-color: #fff;
    height: 24px;
    box-sizing: border-box;
}

.comboBoxView {
    font :pFont;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0 none;
    padding: 0 18px 0 4px;
    overflow: hidden;
    cursor: default;
    box-sizing: border-box;
}
.untriggered .comboBoxView {
    right: 0;
}
.disabled .comboBoxView {
    background-color: #eee;
    color: #444;
}
input.comboBoxView {
    background: transparent none;
}
@if user.agent ie6 ie8 {
    input.comboBoxView {
        line-height: 22px;
    }
}

.comboBoxTrigger{
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 22px;
    background: #c1d4e7; /* Old browsers */
    background: linear-gradient(to bottom, #E0F0FF 0%,#b3c3d6 64%,#d7e1ef 100%); /* W3C */
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
    border-left: 1px solid #5e93ab;
    cursor: pointer;
}
.comboBoxTrigger.over{
    background: #fdf5e3; /* Old browsers */
    background: linear-gradient(to bottom, #fdf5e3 0%,#f5d38a 63%,#fbe9c1 100%); /* W3C */
}
@sprite .comboBoxTriggerIcon{
    gwt-image: 'trigger';
    position: absolute;
    top: 8px;
    right: 3px;
}

.listView {
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgb(34, 34, 34);
    z-index: 9999;
}

.listView.lineWrap div {
    height: auto;
    white-space: normal;
}