.error{
    margin-right: 18px;
    border-color: red !important;
}

@sprite .fieldErrorIcon {
    gwt-image: 'error16';
    position: absolute;
    right: -18px;
    top: 3px;
    display: none;
}

.error .fieldErrorIcon {
    display: block;
}

.field{
    position: relative;
}

.focus{}

.tooltip.error{
    border: 2px solid #ff2222;
    background-color: #fff4f4;
    color: #000;
}

