.item{
    border: 1px solid #5e93ab;
    border-top-color: #fff;
}
.item.expanded{

}
.item-header{
    cursor: pointer;
    font: pFont;
    color: #003168;
    line-height: 24px;
    padding: 0 4px;
    background: #e2e5e9; /* Old browsers */
    background: linear-gradient(to bottom, #e2e5e9 0%,#c1ccdc 100%); /* W3C */
}
.item-header-ico{
    vertical-align: middle;
    margin-right: 4px;
}