@def pContentPanelBorder 2px;
@def pContentPanelInnerMargin 2px;
@def pContentPanelInnerBorder 1px;

.split{
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
}
.dragLine{
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #fff;
    z-index: 3;
}

.contentPanel{
    font: pFont;
    background-color: #BAD7F0;
    border: pContentPanelBorder solid #5e93ab;
}
.header{
    color: pColorDarkBlue;
    font-weight: bold;
    padding: 4px;
}
.inner{
    background-color: #fff;
    border: pContentPanelInnerBorder solid #c1d4e7;
    margin-left: pContentPanelInnerMargin;
}