.fieldset{
    border: 1px solid #5e93ab;
    padding: 0;
    margin: 0;
    display: block;
}
.fieldset legend{
    font: bold 12px arial;
    padding: 4px;
    margin-left: 4px;
    border-radius: 4px;
    color: pColorDarkBlue;
}

.disabled .fieldset legend{
    opacity: .5;
}